body{
    width: 1350px; margin: 0 auto;
}

.column{
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#shoe{
    width: 500px;
}

#info{
    margin-top: 20px;
}

.box{
    width: 300px;
    background-color: beige;
    padding: 10px;
    margin: 10px;
    float: left;
}

.box img{
    width: 200px;
}
