body{
    width: 1350px; margin: 0 auto;
    background-color: #EFEFEF;
}

.column{
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#shoe{
    width: 500px;
}

#info{
    margin-top: 20px;
}

.box{
    height: 615px;
    background-color: #F9F9F9;
    padding: 15px;
    margin: 10px;
    float: left;
    text-align: center;
}

.box img{
    width: 200px;
}


.titleR{
    font-weight: bold;
}

.button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover{
    margin-top: -5px;
}


.greyButton{
    background-color: #D5D0B0;
}
.greenButton{
    background-color: #8FBC8F;
}
.redButton{
    background-color: #FF6F69;
}

/* CSS filtros */
#filters{
    margin-bottom: 50px;
}

#filters {
    padding: 0;
}

#filters li {
    display: inline;
}
#filters li a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    padding: 5px;
    float: left;
    margin-right: 10px;
}
#filters li a:hover, .selected {
    background-color: #75D69C;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.esconder{
    display: none;
}
.mostrar{
    display: block;
}

.buttonWin{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #D5D0B0;
}